<div>
    <h3>Detalhes do ticket:</h3>
    <br/>

    <div>
        <h3>{{ticket.title}}</h3>
        <p>Descrição: {{ticket.description}}</p>
        <p>Status: {{ticketStatusText()}}</p>
        <br/>

        <p>Nome do Responsável: {{ticket.name_responder}}</p>
        <p>Email do Responsável: {{ticket.email_responder}}</p>
        <p>Nome do Emissor: {{ticket.name_issuer}}</p>
        <p>Email do Emissor: {{ticket.email_issuer}}</p>
        <br/>

        <p>Data de Abertura: {{ticket.open_date}}</p>
        <p>Data de Fechamento: {{ticket.close_date}}</p>
    </div>

    <input type="button" class="button" [value]="ticketActionText()" [disabled]="ticket.status == 2" (click)="changeStatus()">
    &nbsp;&nbsp;
    <input type="button" class="button" value="Voltar" (click)="back()">
</div>