.search-form {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.search-form select {
    background-color: #ea6153;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.search-field {
    flex-grow: 2;
}

table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    min-width: 750px;
    max-width: 800px;
    display: block;
}

table thead tr {
    color: white;
    background: #ea6153;
}

table thead th {
    padding: 0;
    height: 6px;
    min-height: 40px;
}

table tbody tr {
    background: #f6f6f6;
}

table tbody tr:nth-of-type(odd) {
    background: #e9e9e9;
}

td {
    padding: 6px 12px;
}

.action {
    width: 100%;
    height: 30px;
    display: table-cell;
}