<div>
    <p>Pesquisa:</p>
    <form class="search-form" [formGroup]="formSearch.root">
        <select formControlName="searchType">
            <option value="1">Por responsável/emissor</option>
            <option value="2">Por responsável</option>
            <option value="3">Por emissor</option>
        </select>
        &nbsp;
        <input type="text" class="search-field" size="45" formControlName="searchText"/>
        &nbsp;
        <input type="button" class="button" value="Pesquisar" [disabled]="formSearch.invalid" (click)="search()" />
        &nbsp;
        <input type="button" class="button" value="Limpar" (click)="clearSearch()"/>
    </form>
</div>

<br />
<p>Tickets:</p>
<table>
    <thead>
        <tr>
            <th style="width: 30%;">Título</th>
            <th style="width: 15%;">Data de Abertura</th>
            <th style="width: 20%;">Responsável</th>
            <th style="width: 20%;">Emissor</th>
            <th style="width: 10%;">Status</th>
            <th style="width: 5%; min-width: 82px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets">
            <td><a [routerLink]="['/details-ticket']" [queryParams]="{ id: ticket.id}">{{ticket.title}}</a></td>
            <td>{{ticket.open_date}}</td>
            <td>{{ticket.name_responder}}</td>
            <td>{{ticket.name_issuer}}</td>
            <td>{{ticketStatusText(ticket.status)}}</td>
            <td class="action-field">
                <input type="button" class="button action" [value]="ticketActionText(ticket.status)" (click)="closeTicket(ticket)" [disabled]="ticket.status == 2"/>
            </td>
        </tr>
    </tbody>
</table>