<h3>
    Cadastrar Ticket
</h3>

<form [formGroup]="formTicket">

    Título: <br />
    <input type="text" size="50" formControlName="title"/>
    <div *ngIf="title.touched && title.errors?.required" class="error-message">
        Informe o título do ticket
    </div>
    <br /><br />

    Nome do Emissor: <br />
    <input type="text" size="30" formControlName="name_issuer" />
    <div *ngIf="name_issuer.touched && name_issuer.errors?.required" class="error-message">
        Informe o nome do emissor do ticket
    </div>
    <br /><br />

    E-mail do Emissor: <br />
    <input type="email" size="40"  formControlName="email_issuer"/>
    <div *ngIf="email_issuer.invalid && email_issuer.touched">
        <div *ngIf="email_issuer.errors?.required" class="error-message">
            Informe o email do emissor do do ticket
        </div>

        <div *ngIf="email_issuer.errors?.email" class="error-message">
            E-mail inválido
        </div>
    </div>
    <br /><br />

    Nome do Responsável: <br />
    <input type="text" size="30" formControlName="name_responder" />
    <div *ngIf="name_responder.touched && name_responder.errors?.required" class="error-message">
        Informe o nome do responsável do ticket
    </div>
    <br /><br />

    E-mail do Responsável: <br />
    <input type="email" size="40"  formControlName="email_responder" />
    <div *ngIf="email_responder.invalid && email_responder.touched">
        <div *ngIf="email_responder.errors?.required" class="error-message">
            Informe o email do responsável do ticket
        </div>

        <div *ngIf="email_responder.errors?.required" class="error-message">
            E-mail inválido
        </div>
    </div>
    <br /><br />

    Descrição: <br />
    <textarea cols="40" rows="5" formControlName="description"></textarea>
    <div *ngIf="description.touched && description.errors?.required" class="error-message">
        Informe a descrição do ticket
    </div>
    <br /><br />

    <input type="button" class="button" value="Salvar" [disabled]="formTicket.invalid" (click)="save()">
    &nbsp;&nbsp;
    <input type="button" class="button" value="Cancelar" (click)="cancel()">
</form>