/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

a {
    color: #2980b9;
}

.button {
    background-color: #ea6153;
    padding: 8px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #a53c31;
}

.button:disabled {
    background-color: gray;
    cursor: default;
}